# these are my exercises

Hello , I have finished these course and now want to do exercises to pass this course

*tuqatairy*

### Data science languages

- python 
- R 
- julia

### Data science libraries 

+ tensorflow 
+ scikkit-learn 
+ pandas

### Data science tools 


merge and translate | visulalization 
--------------------| --------------
apache Airflow| pixi sut
kubeflow|hue
apache kafka|kibana
apache nifi|apache superset

#### introducing arithmetic expression examples

In [4]:
def multiply(x , y):
    return x*y

def add(x,y):
    return x+y

In [6]:
a = multiply(2 ,4 )
b = add(2 ,4 )
print ( a , "_" ,b )

8 _ 6

### Objectives 

+ I aspire to become a data scientist
+ work with major companies
+ be influential in the world of technology

***Tuqa Tairy***

***تقى طيري***